.aa-PredefinedHeader p {
  font-weight: bold;
  margin: 1rem 1rem 0rem 0.5rem;
}

.aa-PredefinedItem .item-icon {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
}

.aa-PredefinedItem .title {
  margin-left: 0.5rem;
}
