.aa-RecentSearchesItem {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.aa-RecentSearchesItem .leftItems {
  display: flex;
}

.aa-RecentSearchesItem .title {
  margin-left: 0.5rem;
}

.aa-RecentSearchesItem .removeButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.aa-RecentSearchesItem .removeButton:hover {
  opacity: 1;
  color: #000;
}

.aa-RecentSearchesHeader p {
  font-weight: bold;
  margin: 1rem 1rem 0rem 0.5rem;
}
