body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.current-refinements {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  min-height: 64px;
}
