version: 2.1

executors:
  node14:
    docker:
      - image: cimg/node:14.21.3
  node18:
    docker:
      - image: cimg/node:18.19.0

commands:
  build_project:
    description: 'Building << path >>...'
    parameters:
      path:
        type: string
        default: ''
    steps:
      - restore_cache:
          name: Restore Yarn Package Cache for << parameters.path >>
          keys:
            - yarn-packages-{{ checksum "<< parameters.path >>/yarn.lock" }}
      - run:
          name: 'Building << parameters.path >>'
          command: |
            cd "<< parameters.path >>"
            yarn
            yarn build
      - save_cache:
          name: Save Yarn Package Cache for << parameters.path >>
          key: yarn-packages-{{ checksum "<< parameters.path >>/yarn.lock" }}
          paths:
            - ./<< parameters.path >>/node_modules
jobs:
  build_angular_projects:
    executor: node14
    steps:
      - checkout
      - build_project:
          path: 'angular-instantsearch/loading-indicator'
      - build_project:
          path: 'angular-instantsearch/algolia-insights'
      - build_project:
          path: 'angular-instantsearch/autocomplete-results-page'
      - build_project:
          path: 'angular-instantsearch/debounced-search-box'
      - build_project:
          path: 'angular-instantsearch/extending-widgets'
      - build_project:
          path: 'angular-instantsearch/geo-search'
      - build_project:
          path: 'angular-instantsearch/infinite-scroll'
      - build_project:
          path: 'angular-instantsearch/multi-index-autocomplete'
      - build_project:
          path: 'angular-instantsearch/multi-index-hits'
      - build_project:
          path: 'angular-instantsearch/query-suggestions'
      - build_project:
          path: 'angular-instantsearch/refresh'
      - build_project:
          path: 'angular-instantsearch/routing-basic'
      - build_project:
          path: 'angular-instantsearch/routing-seo-friendly'
      - build_project:
          path: 'angular-instantsearch/routing-state-mapping'
      - build_project:
          path: 'angular-instantsearch/secured-api-keys'

  build_react_projects:
    executor: node18
    steps:
      - checkout
      - build_project:
          path: 'react-instantsearch/algolia-insights'
      - build_project:
          path: 'react-instantsearch/conditional-debouncing'
      - build_project:
          path: 'react-instantsearch/conditional-request'
      - build_project:
          path: 'react-instantsearch/facet-dropdown'
      - build_project:
          path: 'react-instantsearch/geo-search'
      - build_project:
          path: 'react-instantsearch/infinite-scroll'
      - build_project:
          path: 'react-instantsearch/multi-index-hits'
      - build_project:
          path: 'react-instantsearch/query-suggestions'
      - build_project:
          path: 'react-instantsearch/range-slider-with-radix-ui'
      - build_project:
          path: 'react-instantsearch/range-slider-with-react-spectrum'
      - build_project:
          path: 'react-instantsearch/remix'
      - build_project:
          path: 'react-instantsearch/routing-basic'
      - build_project:
          path: 'react-instantsearch/routing-seo-friendly'
      - build_project:
          path: 'react-instantsearch/secured-api-keys'

  build_vanilla_projects:
    executor: node14
    steps:
      - checkout
      - build_project:
          path: 'instantsearch.js/autocomplete-results-page'
      - build_project:
          path: 'instantsearch.js/geo-search-control'
      - build_project:
          path: 'instantsearch.js/geo-search-custom-marker'
      - build_project:
          path: 'instantsearch.js/geo-search-hits'
      - build_project:
          path: 'instantsearch.js/infinite-scroll'
      - build_project:
          path: 'instantsearch.js/multi-index-autocomplete'
      - build_project:
          path: 'instantsearch.js/multi-index-hits'
      - build_project:
          path: 'instantsearch.js/query-suggestions'
      - build_project:
          path: 'instantsearch.js/refresh-cache-periodically'
      - build_project:
          path: 'instantsearch.js/refresh-cache-user-action'
      - build_project:
          path: 'instantsearch.js/routing-basic'
      - build_project:
          path: 'instantsearch.js/routing-seo-friendly'
      - build_project:
          path: 'instantsearch.js/secured-api-keys'

  build_vue_projects:
    executor: node18
    steps:
      - checkout
      - build_project:
          path: 'vue-instantsearch/algolia-insights'
      - build_project:
          path: 'vue-instantsearch/autocomplete-results-page'
      - build_project:
          path: 'vue-instantsearch/debounced-search-box'
      - build_project:
          path: 'vue-instantsearch/extending-widgets'
      - build_project:
          path: 'vue-instantsearch/geo-search'
      - build_project:
          path: 'vue-instantsearch/infinite-scroll'
      - build_project:
          path: 'vue-instantsearch/loading-indicator'
      - build_project:
          path: 'vue-instantsearch/multi-index-autocomplete'
      - build_project:
          path: 'vue-instantsearch/multi-index-hits'
      - build_project:
          path: 'vue-instantsearch/query-suggestions'
      - build_project:
          path: 'vue-instantsearch/refresh'
      - build_project:
          path: 'vue-instantsearch/routing-basic'
      - build_project:
          path: 'vue-instantsearch/routing-seo-friendly'
      - build_project:
          path: 'vue-instantsearch/routing-state-mapping'
      - build_project:
          path: 'vue-instantsearch/routing-vue-router'
      - build_project:
          path: 'vue-instantsearch/secured-api-keys'
      - build_project:
          path: 'vue-instantsearch/server-side-rendering'

workflows:
  version: 2.1
  build:
    jobs:
      - build_angular_projects
      - build_react_projects
      - build_vanilla_projects
      - build_vue_projects
