em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Hits-injected {
  width: calc(50% - 1rem);
}

.ais-Hits-injected article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ais-Hits-injected h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ais-Hits-injected h1 [class^='ais-'] {
  font-size: 2.2rem;
}

.ais-Hits-injected h1 .badge {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-weight: semibold;
  background-color: rgb(58, 69, 112, 0.15);
  padding: 0.3rem 0.6rem;
  border-radius: 9999px;
}

.ais-Hits-loadMore {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
}

@media (max-width: 767px) {
  .ais-Hits-item {
    width: calc(50% - 1rem);
  }

  .ais-Hits-injected {
    width: calc(100% - 1rem);
  }
}
