em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0 -0.5rem;
  padding: 0;
}

.navigation-item {
  margin: 0 0.5rem;
}

.navigation-item:hover {
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Hits-injected {
  display: contents;
}

.ais-Hits-injected article {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #e3e5ec;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.ais-Hits-injected h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ais-Hits-injected h1 [class^='ais-'] {
  font-size: 2.2rem;
}

.ais-Hits-injected h1 .badge {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-weight: semibold;
  background-color: rgb(58, 69, 112, 0.15);
  padding: 0.3rem 0.6rem;
  border-radius: 9999px;
}

.ais-Hits-injected .Banner {
  display: flex;
  background-size: cover;
  color: white;
  text-transform: capitalize;
  justify-content: flex-end;
  padding: 0;
}

.ais-Hits-injected .Banner h1 {
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  display: block;
}

.Recommend .ais-Hits-item:first-of-type {
  color: #00aeff;
  border-color: currentColor;
}

.Recommend .ais-Hits-injected .FrequentlyBoughtTogether {
  color: #00aeff;
  background-color: #e5f1f7;
  border-color: currentColor;
  width: 100%;
  box-shadow: none;
}

.Recommend .ais-Hits-injected .FrequentlyBoughtTogether h2 {
  margin-top: 0;
}

.Recommend .ais-Hits-injected .FrequentlyBoughtTogether ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

.Recommend .ais-Hits-injected .FrequentlyBoughtTogether article {
  margin: 0;
  background-color: #fff;
}

.ais-Hits-loadMore {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.Block-1\/2 {
  width: calc(50% - 1rem);
}

.Block-1\/4 {
  width: calc(25% - 1rem);
}

@media (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .Recommend .ais-Hits-item:first-of-type {
    border-right: 0;
  }

  .Recommend .ais-Hits-injected .FrequentlyBoughtTogether {
    margin-left: 0;
    width: calc(100% / 4 * 3);
    border-left: 0;
  }
}

@media (max-width: 767px) {
  .ais-Hits-item {
    width: calc(50% - 1rem);
    flex-grow: 1;
  }

  .ais-Hits-injected article {
    min-height: 250px;
    height: 100%;
  }

  .Recommend .ais-Hits-item:first-of-type {
    border-bottom: 0;
  }

  .Recommend .ais-Hits-injected .FrequentlyBoughtTogether {
    margin-top: 0;
    border-top: 0;
  }

  .sm\:Block-full {
    width: calc(100% - 1rem);
  }

  .sm\:Block-1\/2 {
    width: calc(50% - 1rem);
  }

  .sm\:Block-1\/4 {
    width: calc(25% - 1rem);
  }
}
