/* Global */
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

em {
  background: cyan;
  font-style: normal;
}

#root {
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Search */
.search-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.search-panel__filters {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.search-panel__pagination {
  margin: 0 auto 1rem;
}

/* Custom category dropdown */
.my-CategoryDropdown .ais-HierarchicalMenu {
  height: 185px;
  overflow: auto;
}

/* Custom brand dropdown */
.my-BrandDropdown .ais-RefinementList-list {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
}

.my-BrandDropdown .ais-RefinementList-item {
  margin: 0.2rem;
  padding: 0.1rem 0.5rem;
  border-radius: 2em;
  background: #ccc;
}

.my-BrandDropdown .ais-RefinementList-item .ais-RefinementList-checkbox {
  display: none;
}

.my-BrandDropdown .ais-RefinementList-item.ais-RefinementList-item--selected {
  background: #333;
  color: #fff;
}

.my-BrandDropdown .ais-RefinementList-label mark {
  background: none;
  text-decoration: underline;
  font-weight: bold;
}
