/* Global */
body,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

em {
  background: cyan;
  font-style: normal;
}

#root {
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.ais-ClearRefinements-button {
  height: 40px;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

/* Search */
.search-panel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

.search-panel__filters {
  grid-row: 1 / 3;
}

.search-panel__pagination {
  margin: 2rem auto;
  text-align: center;
}

.responsive-filters-buttons {
  display: none;
  gap: 1em;
}

.responsive-filters-buttons__sort {
  width: 100%;
}

.responsive-filters-modal {
  width: 100vw;
  margin-bottom: 0;
  padding: 0;
  bottom: 0px;
  position: absolute;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.responsive-filters-modal__body {
  padding-left: 1em;
  overflow: scroll;
  height: auto;
  position: relative;
}

.responsive-filters-modal__header {
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
  padding-left: 1em;
  margin-bottom: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  display: flex;
}

.responsive-filters-modal__close {
  margin-left: auto;
  margin-right: 0.15em;
  height: 2em;
  align-self: center;
  background: none;
  border: none;
  font-size: 1.5em;
  color: darkgray;
  cursor: pointer;
}

.responsive-filters-modal__footer {
  position: sticky;
  margin-top: auto;
  bottom: 0;
  border-top: 1px solid #ccc;
  background-color: white;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}

.responsive-filters-modal__apply,
.responsive-filters-buttons__open {
  width: 100%;
  font-size: 14px;
  line-height: 1.25rem;
  padding: 0 1rem;
  color: #ffffff;
  background-color: #3c4fe0;
  background-image: linear-gradient(-180deg, #3c4fe0 0%, #2b3cbb 100%);
  border: 1px solid #2b3cbb;
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 6%),
    0 1px 0 0 rgb(35 38 59 / 10%);
  height: 32px;
  border-radius: 3px;
  height: 40px;
  cursor: pointer;
}

.responsive-filters-modal__apply:hover,
.responsive-filters-buttons__open:hover {
  border-color: #1e2b8f;
  background-image: linear-gradient(0deg, #1e2b8f, #2b3cbb);
}

.responsive-filters-modal__apply:active,
.responsive-filters-buttons__open:active {
  background-image: linear-gradient(0deg, #3c4fe0, #2b3cbb);
  border-color: #1e2b8f;
  box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 6%), 0 0 0 1px #1e2b8f,
    0 2px 0 1px rgb(35 38 59 / 10%);
}

.responsive-filters-buttons__open svg {
  margin-bottom: 2px;
  width: 16px;
  height: 14px;
  padding-right: 4px;
  box-sizing: content-box;
  vertical-align: middle;
}

.responsive-filters-modal__clear {
  width: 100%;
}

@media (max-width: 650px) {
  .ais-HierarchicalMenu-count,
  .ais-RefinementList-count {
    margin-left: auto;
    margin-right: 1em;
  }

  .ais-HierarchicalMenu-item,
  .ais-RefinementList-item,
  .ais-ToggleRefinement-labelText {
    line-height: 40px;
    font-size: 16px;
  }

  .ais-Panel-header {
    font-size: 16px;
  }

  .ais-ToggleRefinement-checkbox {
    margin-right: 1em;
  }

  .ais-CurrentRefinements-list {
    display: block;
    margin-bottom: 1em;
  }

  .ais-CurrentRefinements-item {
    margin-bottom: 1em;
    margin-right: 1em;
  }

  .search-panel {
    grid-template-columns: auto;
  }

  .search-panel__filters {
    grid-row: 2 / 3;
  }

  .responsive-filters-buttons {
    display: flex;
  }

  .responsive-filters-desktop {
    display: none;
  }
}
