em {
  background: cyan;
  font-style: normal;
}

h1 {
  margin-bottom: 1rem;
}

.ais-InstantSearch {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  margin-right: 1rem;
}

.search-panel__results {
  flex: 1;
}
