<header class="header">
  <h1 class="header-title">
    <a href="/">conditional-request</a>
  </h1>
  <p class="header-subtitle">
    using
    <a href="https://github.com/algolia/angular-instantsearch">
      Angular InstantSearch
    </a>
  </p>
</header>

<div class="container">
  <div class="results">
    <ais-instantsearch [config]="config">
      <p>The request is only triggered once the query is not empty.</p>
      <div class="searchbox">
        <ais-search-box></ais-search-box>
      </div>
      <div class="search-panel">
        <div class="search-panel__results">
          <ais-hits>
            <ng-template let-hits="hits">
              <ol class="ais-Hits-list">
                <li class="ais-Hits-item" *ngFor="let hit of hits">
                  <h1>
                    <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
                  </h1>
                  <p>
                    <ais-highlight
                      attribute="description"
                      [hit]="hit"
                    ></ais-highlight>
                  </p>
                </li>
              </ol>
            </ng-template>
          </ais-hits>
        </div>
      </div>
    </ais-instantsearch>
  </div>
</div>
